**/node_modules/**
**.DS_Store
3d/dist/client/models/chars/anim_idle.fbx
3d/dist/client/models/chars/anim_stand.fbx
3d/dist/client/models/chars/anim_talk.fbx
3d/dist/client/models/chars/anim_walk.fbx
3d/dist/client/models/chars/model_test.fbx
3d/dist/client/models/chars/Three.js TypeScript Tutorials by Sean Bradley.mhtml
3d/dist/client/models/chars/Textures/basemesh.meta
3d/dist/client/models/chars/Textures/bodyup_blouse.meta
3d/dist/client/models/chars/Textures/bottom_skirt.meta
3d/dist/client/models/chars/Textures/eye.meta
3d/dist/client/models/chars/Textures/eyelsh.meta
3d/dist/client/models/chars/Textures/Hair.meta
3d/dist/client/models/chars/Textures/shoes.meta
3d/dist/client/models/chars/Textures/Hair/Iris_Hair_Alb.tga
3d/dist/client/models/chars/Textures/Hair/Iris_Hair_Alb.tga.meta
3d/dist/client/models/chars/Textures/basemesh/body_d_old.tga
3d/dist/client/models/chars/Textures/basemesh/body_d_old.tga.meta
3d/dist/client/models/chars/Textures/basemesh/body_d.jpg
3d/dist/client/models/chars/Textures/basemesh/body_d.jpg.meta
3d/dist/client/models/chars/Textures/basemesh/body_n.tif
3d/dist/client/models/chars/Textures/basemesh/body_n.tif.meta
3d/dist/client/models/chars/Textures/basemesh/body_r.tga
3d/dist/client/models/chars/Textures/basemesh/body_r.tga.meta
3d/dist/client/models/chars/Textures/basemesh/Eye_Alb.tga
3d/dist/client/models/chars/Textures/basemesh/Eye_Alb.tga.meta
3d/dist/client/models/chars/Textures/basemesh/Eye_Nrm.tga
3d/dist/client/models/chars/Textures/basemesh/Eye_Nrm.tga.meta
3d/dist/client/models/chars/Textures/basemesh/Eye_Prl.tga
3d/dist/client/models/chars/Textures/basemesh/Eye_Prl.tga.meta
3d/dist/client/models/chars/Textures/basemesh/Eye_Rgh.tga
3d/dist/client/models/chars/Textures/basemesh/Eye_Rgh.tga.meta
3d/dist/client/models/chars/Textures/basemesh/Fur_A.tga
3d/dist/client/models/chars/Textures/basemesh/Fur_A.tga.meta
3d/dist/client/models/chars/Textures/basemesh/head_n.tif
3d/dist/client/models/chars/Textures/basemesh/head_n.tif.meta
3d/dist/client/models/chars/Textures/basemesh/head_r.tga
3d/dist/client/models/chars/Textures/basemesh/head_r.tga.meta
3d/dist/client/models/chars/Textures/basemesh/heaed_d.jpg
3d/dist/client/models/chars/Textures/basemesh/heaed_d.jpg.meta
3d/dist/client/models/chars/Textures/basemesh/heaed_d.tga
3d/dist/client/models/chars/Textures/basemesh/heaed_d.tga.meta
3d/dist/client/models/chars/Textures/bodyup_blouse/upper_C.jpg
3d/dist/client/models/chars/Textures/bodyup_blouse/upper_C.jpg.meta
3d/dist/client/models/chars/Textures/bodyup_blouse/upper_C.TGA
3d/dist/client/models/chars/Textures/bodyup_blouse/upper_C.TGA.meta
3d/dist/client/models/chars/Textures/bodyup_blouse/upper_ID.TGA
3d/dist/client/models/chars/Textures/bodyup_blouse/upper_ID.TGA.meta
3d/dist/client/models/chars/Textures/bodyup_blouse/upper_Mask.tga
3d/dist/client/models/chars/Textures/bodyup_blouse/upper_Mask.tga.meta
3d/dist/client/models/chars/Textures/bodyup_blouse/upper_n.TGA
3d/dist/client/models/chars/Textures/bodyup_blouse/upper_n.TGA.meta
3d/dist/client/models/chars/Textures/bottom_skirt/down_D.jpg
3d/dist/client/models/chars/Textures/bottom_skirt/down_D.jpg.meta
3d/dist/client/models/chars/Textures/bottom_skirt/down_D.tga
3d/dist/client/models/chars/Textures/bottom_skirt/down_D.tga.meta
3d/dist/client/models/chars/Textures/bottom_skirt/down_ID.tga
3d/dist/client/models/chars/Textures/bottom_skirt/down_ID.tga.meta
3d/dist/client/models/chars/Textures/bottom_skirt/down_Mask.tga
3d/dist/client/models/chars/Textures/bottom_skirt/down_Mask.tga.meta
3d/dist/client/models/chars/Textures/bottom_skirt/down_N.tga
3d/dist/client/models/chars/Textures/bottom_skirt/down_N.tga.meta
3d/dist/client/models/chars/Textures/eye/Eye_Alb.jpg
3d/dist/client/models/chars/Textures/eye/Eye_Alb.jpg.meta
3d/dist/client/models/chars/Textures/eye/Eye_Alb.tga
3d/dist/client/models/chars/Textures/eye/Eye_Alb.tga.meta
3d/dist/client/models/chars/Textures/eye/Eye_Mask.tga
3d/dist/client/models/chars/Textures/eye/Eye_Mask.tga.meta
3d/dist/client/models/chars/Textures/eye/Eye_Nrm.tga
3d/dist/client/models/chars/Textures/eye/Eye_Nrm.tga.meta
3d/dist/client/models/chars/Textures/eyelsh/eyelash_D.png
3d/dist/client/models/chars/Textures/eyelsh/eyelash_D.png.meta
3d/dist/client/models/chars/Textures/eyelsh/eyelash_D.tga
3d/dist/client/models/chars/Textures/eyelsh/eyelash_D.tga.meta
3d/dist/client/models/chars/Textures/shoes/shoe_AO.tga
3d/dist/client/models/chars/Textures/shoes/shoe_AO.tga.meta
3d/dist/client/models/chars/Textures/shoes/shoe_C.jpg
3d/dist/client/models/chars/Textures/shoes/shoe_C.jpg.meta
3d/dist/client/models/chars/Textures/shoes/shoe_C.tga
3d/dist/client/models/chars/Textures/shoes/shoe_C.tga.meta
3d/dist/client/models/chars/Textures/shoes/shoe_ID.tga
3d/dist/client/models/chars/Textures/shoes/shoe_ID.tga.meta
3d/dist/client/models/chars/Textures/shoes/shoe_Mask.tga
3d/dist/client/models/chars/Textures/shoes/shoe_Mask.tga.meta
3d/dist/client/models/chars/Textures/shoes/shoe_N.tga
3d/dist/client/models/chars/Textures/shoes/shoe_N.tga.meta
3d/dist/client/models/chars/Textures/shoes/shoe_S.tga
3d/dist/client/models/chars/Textures/shoes/shoe_S.tga.meta
